@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="/img/northwind.png" width="200px" height="200px"> <img />
    <p>Proudly distributing fine foods around the world for 29 years.</p>
</div>